<div class="standard-card card">
    <img src="{{ image }}">

    <div class="card-content">
        <h1>
            {{ text }}
        </h1>

        <p>
            {{description}}
        </p>
    </div> 

    <div class="card-buttons">
        <button (click)="toggleLike()">
            <span *ngIf="!liked">Gefällt mir</span>
            <img class="button.liked" *ngIf="liked" src="/assets/images/like.png" alt="Herz">
        </button>

        <button >
            Mehr erfahren
        </button>
    </div>


</div>
